.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.container {
    width: 80%;
    position: relative;
}

.container::before {
    content: '';
    height: 2rem;
    width: 1rem;
    border: 1px solid #3fb8af;
    position: absolute;
    z-index: 10;
    background: #fff;
    position: absolute;
    left: 50%;
    top: -50%;
    border-radius: 5rem;
}

.modify {
    display: flex;
    flex-flow: column nowrap;
    margin: 5rem 0;
}

.noUi-handle {
    z-index: 100;
}
